{% extends "common/__l_single_col.html" %}
{% load staticfiles %}

{% load bootstrap %}

{% block title %}
  {{ block.super }}
  Добавление новости
{% endblock %}

{% block javascript %}
  {{ block.super }}	
	<script src="{% static "js/imagepool.js" %}" type="text/javascript"></script>
  
{% endblock %}

{% block head-extra %}
  {{ form.media }}
{% endblock head-extra %}

{% block content%}

<div class = 'container'>
  <div class="row">
    <div class="col-sm-6 new-preview post-detail-item">
      <h4 class="lead">ПРЕДВАРИТЕЛЬНЫЙ ПРОСМОТР</h4>
      <hr>
      <h3 id="preview-title"></h3>
      <p id="preview-content"></p>
    </div>
    <div class="col-sm-6">
       <div class="my-form-header">
          <a href="{% url "news:news_index" %}" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
          <h4 class="lead">ФОРМА ДЛЯ ЗАПОЛНЕНИЯ</h4>
        </div>
        <hr>
          <form  action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}   
            <div class="my-form-footer">
            <a href="{% url "news:news_index" %}" type="button" class="btn btn-default">ЗАКРЫТЬ</a>
            <button type="submit" class="btn btn-success">СОХРАНИТЬ</button>
            </div>
          </form>
    </div>
  </div>
</div>


{% endblock %}
