{% extends "common/__l_single_col.html" %}

{% load bbcode_tags %}
{% block content %}

<div class = 'container post-detail-item'>
<br>
	<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2 post-detail-item">
			<h2>Вы действительно хотите удалить эту статью?</h2>
			<h1>{{ object.title }}</h1>
			<div>{{ object.get_markdown }}</div>
			<p class="posted">{{ object.posted|date:"j.m.Y H:i:s" }}</p>
			<form action="" method="POST">
				{% csrf_token %}
				<input class="btn btn-warning" type="submit" action="" value="Да, удалить." />
				<a class="btn btn-default" href="{% url "news:news_index" %}?page={{ pn }}" role="button">Нет, оставить.</a>
			</form>			
		</div>
	</div>	
</div>
{% endblock %}