{% extends "common/__l_single_col.html" %}
{% load bootstrap %}

{% block content %}
<div class='my-form'>
<br>
	<div class="my-form-header">
	{% if next %}
		<a href="{{ next }}" type="button" class="close" ><span aria-hidden="true">&times;</span></a>
	{% else %}
		<a href="/" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
	{% endif %}
		<h4 class="lead">ВХОД</h4>
	</div>
	<hr>
	<form action="" method="post">
		{% csrf_token %}
		{{ form|bootstrap }}

		<div class="my-form-footer">
		<hr>
			<a href="{{ next }}" type="button" class="btn btn-default" >ЗАКРЫТЬ</a>
			<button  type="submit" class="btn btn-success">ВОЙТИ</button>
			<input type="hidden" name="next" value="{{ next }}">			
		</div>
	</form>
</div>

{% endblock %}