{% extends "common/__l_single_col.html" %}

{% block content %}
<br>
<div class='form'>
	<div class="enter-container grey-form-block">	
		<h4 class="text-center">ДОБАВЬТЕ НОВЫЕ СЕРТИФИКАТЫ</h4>		
		<a href="{% url 'company:certificates' %}" type="button" class='close'><span >&times;</span></a>		
	</div>
	
	<form enctype="multipart/form-data" action="{% url 'company:certificates_new' %}" method="post">
		{% csrf_token %}
			<p class="text-center">Можно загрузить: JPEG,PNG,GIF,TIF</p>
			<p class="text-center"><b>PDF НЕ ПОДДЕРЖИВАЕТСЯ!</b></p>
		
		<div class="enter-container ">	
			{{ form.as_p}}

		</div>
					
		<div class="button-container text-center grey-form-block">
			
				<input class="btn btn-default" type="submit" value="ДОБАВИТЬ">
			
		<!-- <input type="hidden" name="next" value="{{ next }}"> -->
		</div>
	</form>
</div>

{% endblock %}