{% extends "common/__l_single_col.html" %}
{% load staticfiles %}
{% load bbcode_tags %}

{% block stylesheet %}
	{{ block.super }}
	
	<link rel="stylesheet" type="text/css" href="{% static 'fancybox/jquery.fancybox.css' %}">
{% endblock %}

{% block content %}
<br>
<div class="container">
	<div class="row">
{% if user.is_authenticated %}
  {% if perms.company.add_otziv %}
			<div class="col-sm-4 col-sm-12"><a  href="{% url 'company:otziv_new' %}" title="добавить сертификаты"><span class="glyphicon glyphicon-plus">добавить новый отзыв</span></a></div>
		{% if otzivs and otzivs|length_is:"1" %}
			<div class="col-sm-4 col-sm-12"><a  href="{% url 'company:otziv_corr_detail' otzivs.0.id %}" title="добавить сертификаты"><span class="glyphicon glyphicon-plus">корректировать отзыв</span></a></div>
			<div class="col-sm-4 col-sm-12"><a  href="{% url 'company:otziv_del' %}" title="добавить сертификаты"><span class="glyphicon glyphicon-plus">удалить отзывы</span></a></div>		
		{% elif otzivs %}	
			<div class="col-sm-4 col-sm-12"><a  href="{% url 'company:otziv_corr' %}" title="добавить сертификаты"><span class="glyphicon glyphicon-plus">корректировать отзыв</span></a></div>
			<div class="col-sm-4 col-sm-12"><a  href="{% url 'company:otziv_del' %}" title="добавить сертификаты"><span class="glyphicon glyphicon-plus">удалить отзывы</span></a></div>
		{% endif %}

		
	{% endif %}
{% endif %}	
	</div>

	<br>
	{% for otziv in otzivs %}
	<div class="row">	
		<div class="col-md-2 col-sm-12">
			<a class="fancyimage" data-fancybox-group="group" title="{{otziv.otziv}}" href="{{otziv.otziv_2x.url}}">
				<img class = 'otziv img-responsive' src="{{otziv.otziv_1x.url}}" alt="{{otziv.otziv}}" alt="{{otziv.text}}" />
			</a>
		</div>
		<div class="col-md-10 col-sm-12">
			<br>
			{% bbcode otziv.text %}		
		</div>
	</div>
	<br>
	{% endfor %}
</div>
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src = "{% static 'fancybox/jquery.fancybox.pack.js' %}"></script>
	<script type="text/javascript" src = "{% static 'js/certificate.js' %}"></script>
{% endblock %}