	{% if request.user.is_authenticated %}

		<a href='/logout/?next={{request.path}}'>
			<button type="button" class="btn btn-default btn-md">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
					
					{{request.user.first_name|first}}{{request.user.last_name|first}}
				</span>
			</button>
		</a>

	{% else %}	

		<a href='/login/?next={{request.path}}'>
			<button type="button" class="btn btn-default btn-md">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
			</button>
		</a>

	{% endif %}
