<!-- Modal -->
<div class="modal fade" id="callOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</h4>
      </div>
      <form action='/send-email/' method='post'>
        <div class="modal-body">
          <table>
             {% csrf_token %}
            {{form.as_table}}
          </table>        
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ЗАКРЫТЬ</button>
        <button type="submit" class="btn btn-success">ЗАКАЗАТЬ ЗВОНОК</button>
      </div>
      </form>
      
    </div>
  </div>
</div>