{% load staticfiles %}	
	<div  class="grey-top">
		<div class='container'>
			<div class= 'col-md-3 col-sm-12 center-block'>
				<a href = "/">
					<img alt="Brand" class='grey-top-brand' src="{% static 'images/logo.png' %}">
					
				</a>							
			</div>
			<div class= 'col-md-3 col-sm-12 hidden-xs'>
				
				<strong class='slogan-1'><a href="">ДИЗЕЛЬГЕНЕРАТОРЫ,</a></strong>
				<strong class='slogan-2' >ИБП</strong>
				<strong class='slogan-3'> АЛЬТЕРНАТИВНАЯ  ЭНЕРГЕТИКА</strong>
				<strong class='slogan-4'> ПРОДАЖА, РЕМОНТ И ОБСЛУЖИВАНИЕ</strong>	
			</div>			
			<div class= 'col-md-3 col-sm-12 center-block'>
				<address>			
					<strong>Мы расположены: </strong>Моск. обл.,<br>
					д.Черная Грязь, ул. Сходненская
					<br>
					Пн-Вс: с 10:00 до 18:00
				</address>
			</div>
			
			<div class= 'col-md-3 col-sm-12 '>
				<address >						
					<i class="fa fa-phone text-success" aria-hidden="true"></i>
					<strong>+7(495)7647208</strong><br>
					<i class="fa fa-phone text-success" aria-hidden="true"></i>
					<strong>+7(985)2660890</strong><br>
					<a href="mailto:#">info@energy-vector.ru</a>
				</address>		
			</div>		
		</div>
	</div>

