<!DOCTYPE html>
{% load staticfiles %}
<html>
 
	<head prefix="my_namespace: http://ogp.me/ns/website#">
		{% block meta_tags %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta lang="ru">
			<meta name="yandex-verification" content="" />
			<meta property="og:type" content="website">
			<meta property="og:title" content="ООО ВЕКТОР"/>
			<meta property="og:description" content="Дизельгенераторы и ИБП. Продажа, установка, ремонт и техобслуживание"/>
			<meta property="og:image" content="http://localhost:8000/media/certificates/%D0%A1%D0%B5%D1%80%D1%82_%D0%B1%D0%B5%D0%B7_%D0%BE%D1%80%D0%B3_%D0%91%D0%B5%D0%BB%D1%8B%D0%B9_%D0%9B%D1%8B%D1%81%D0%B5%D0%BD%D0%BA%D0%BE_2x.png">
			<meta property="og:url" content= "http://www.energy-vector.ru" />
		{% endblock %}
		
		{% block stylesheet %}
			<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/1.css' %}" >
			<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
		{% endblock %}
			
		{% block metrika %}
<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45454278 = new Ya.Metrika({ id:45454278, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/45454278" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
		{% endblock %}
		
			<title>
		{% block title %}Дизельгенераторы, ИБП, продажа, монтаж, ремонт и техническое обслуживание.{% endblock %}			
			</title>


	</head>

<body>
	<header>	
		{% if messages %}

			<div class="success-messages alert alert-warning alert-dismissible fade in" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{% for message in messages %}
		            <div class="success-message">
			            <p class="text-center">{{ message }}</p>
		            </div>
		            {% endfor %}
            </div>

		{% endif %}
		{% block navigation %}
			

				{% include "includes/_nav_bs.html" %}
		
			
		{% endblock %}

		{% block greytop %}
			{% include "includes/_grey_top.html" %}
		{% endblock %}

		{% block slider %}
		{% endblock %}

	</header>
	<div id="main" role="main">
            
                {% block content %}
                {% endblock %}
            
	</div>

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-1">

							{% include "includes/_authen.html" %}

				</div>
				<div class="col-md-11">
				© 2011-2017 ООО «Вектор». Все права защищены.
				<br> Копирование материалов сайта запрещено.
				</div>
				
			</div>
		</div>
		
			
		
	</div>
		
		{% block javascript %}
			<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>			
			<script type="text/javascript" src="{% static 'js/base.js'%}"></script>				
			<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
			

		{% endblock %}
		
		
		
		
</body>

</html>