{% extends "common/__l_single_col.html" %}
{% load bootstrap %}

{% block content %}    
    
<div class = 'my-form'>
  <div class="my-form-header">
    <a href="/" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
    <h4 class="lead">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</h4>
  </div>
  <hr>

  <form  action='/call_order/' method='post'>
    {% csrf_token %}

    {{form|bootstrap}}    

    <div class="my-form-footer">
      <a href="/" type="button" class="btn btn-default" >ЗАКРЫТЬ</a>
      <button type="submit" class="btn btn-success">ЗАКАЗАТЬ ЗВОНОК</button>
    </div>
  </form>

</div>


{% endblock %}