
/*@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {
Не отображать облако меток в заголовке сайта в телефоне
div.tag-cloud{
	display: none;
}
}*/


/*___________РАЗДЕЛ НОВОСТИ_______________*/

/*@media screen and (max-width: 750px){
	div.whole-new{
		font-size: 1.2em;
		
	}
div.container.new img.new-detail{
	display: none;
}
}

a.new-description{
	color: #333;
    text-decoration: none;
    text-align: justify;
}
div.container.new img.new-detail{
	display: block;
	width: 50%;
	margin: 1em 0 1em 0;

}
div.whole-new{		
		text-align: justify;
	}	
}*/

div.whole-new{		
		text-align: justify;
	}
img.news-img{
	width: 100%;
}

div.new-photo{
	background-size: cover;
	float: left;
	margin: 0 2vw 1vw 0;
	height: 20vw;
	position: relative;
	top: 3px;
	transition: all 0.5s;
	width: 30vw;
}
p.new{
	text-align: justify;
	color: #333;
}	
@media screen and (max-width: 500px){
div.new-photo {
    background-image: none;
    height: 0;
    margin: 0;
    width: 0;
}
p.new{
	font-size: 1.2em
}
}

  
/*___________РАЗДЕЛ НОВОСТИ_______________*/
.wmd-panel {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/*___________РАЗДЕЛ IMAGEPOOL_____________*/

#imagepool_output {
  display: none;
}
#imagepool_image_list {
  margin-top: 60px;
}
#imagepool_image_list td {
  text-align: center;
  width: 160px;
  height: 120px;
}
#imagepool_image_list td.link {
  font-size: xx-large;
  width: 20px;
}
#imagepool_image_list td img {
  max-width: 160px;
  max-height: 100px;
}
#imagepool_image_list td a:link, #imagepool_image_list td a:visited,
#imagepool_image_list td a:active, #imagepool_image_list td a:hover{
  text-decoration: none;
}
#imagepool_image_list td a.disabled:link, #imagepool_image_list td a.disabled:visited,
#imagepool_image_list td a.disabled:active, #imagepool_image_list td a.disabled:hover{
  display: none;
  }
/*___________РАЗДЕЛ IMAGEPOOL_____________*/

/*___________РАЗДЕЛ УСЛУГИ_______________*/


@media screen and (max-width: 750px){
	div.service-content img {

		display: none;
	}	
	div.service-content {
	font-size: 1.2em;
}
	
} 

div.service-content {
	
    text-align: justify;

}

div.service-content img {
		
		height: 350px;
		margin: 0 1em 1em 0;
	}
/*___________/РАЗДЕЛ УСЛУГИ_______________*/

div.success-messages{
	position: fixed;
	z-index: 10;
	background-color: white;
	width: 50%;	
	border-radius: 6px;
	font-size: 1.2em;
	top: 30%;
	left:50%; 
	margin-left:-25%;
}

div.success-message{
	padding: 40px;
}


.text-danger{
	color: red;
} 

div.grey-top{
	margin-top: 50px;
	padding: 30px 0 10px;
	background-color: #f4f4f4;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), 0 1px 5px rgba(0,0,0,0.25);
	font-size: 1.1em;
	text-align: left;


}
img.grey-top-brand:hover{
	opacity:0.75;
}
.slogan-1{
	font-size: .8em;
	color: #7E0AAB;
}
.slogan-2{
	font-size: .8em;
	color: #2BB35D;
}
.slogan-3{
	font-size: .8em;
	color: #7E0AAB;
}
.slogan-4{
	font-size: .8em;
	color: #2BB35D;
}
/*/Серый топ*/

#footer{
	
	width: 100%;
	padding: 50px;
	color: #727272;
	background-color: #f4f4f4;
	/* IE10 Consumer Preview  
	background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, #FFFFFF 0%, #DEF9FC 50%, #C7C4D1 100%);

	 Mozilla Firefox  
	background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, #FFFFFF 0%, #DEF9FC 50%, #C7C4D1 100%);

	 Opera  
	background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, #FFFFFF 0%, #DEF9FC 50%, #C7C4D1 100%);

	 Webkit (Safari/Chrome 10)  
	background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 1011, color-stop(0, #FFFFFF), color-stop(0.5, #DEF9FC), color-stop(1, #C7C4D1));

	 Webkit (Chrome 11+)  
	background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, #FFFFFF 0%, #DEF9FC 50%, #C7C4D1 100%);

	 W3C Markup, IE10 Release Preview  
	background-image: radial-gradient(ellipse farthest-corner at righ*/t bottom, #FFFFFF 0%, #DEF9FC 50%, #C7C4D1 100%);
}

/*кнопка ЗАКАЗАТЬ ЗВОНОК + форма ЗАКАЗАТЬ ЗВОНОК */
.navbar-nav>li>a.call-order{

	padding: 8px;
}
/* /кнопка ЗАКАЗАТЬ ЗВОНОК + форма ЗАКАЗАТЬ ЗВОНОК*/
div.call-order{
	padding: 8px 0;
}
div.my-form{
	max-width: 400px;
	margin: 2em auto;
}

}
/* социальные иконки в верхнем меню*/
.navbar-nav>li>a.icon-contact-social{

	padding: 11px 4px;
}
ul.head-contact-social>span>i.facebook:hover{
 color: #394798;
}
/* /социальные иконки в верхнем меню*/


#main{
	padding-bottom: 50px;
}
.contacts-page{
	padding: 50px 0;
}

/*-----СРО*/
.grey-doc-sro-border{
	outline:  1px solid #CCCCCC;
	box-shadow:  3px 3px  3px #CCCCCC;
}
/*-----/СРО*/

img.otziv{
	outline:  1px solid #CCCCCC;
}

/*-----ФОРМА ВХОДА--------*/
div.iks{
	float: right;
	padding-top: .25em;
	padding-right: .5em;
	font-size: 1.5em;
}
div.remove-sign{
	text-align: right;
	font-size: 1.5em;
}

div.form, div.thanks{
	margin: 2em auto;
	text-align: center;
}
.form tr {
	border-width: 0.5em;

}

.form th{
	text-align: right;
	padding: 1em;
}
.form td{
	text-align: left;
	padding: .2em;
}
.button-container, .enter-container{
	display: flex;
	justify-content: space-around;
	padding: 1em 1em;
	/*outline:  1px solid #CCCBCB;*/

}
.grey-form-block{
	background-color: #DDDDDD;
}
.form {
	outline:  1px solid #CCCBCB;
	width: 400px;
}
/*-----/ФОРМА ВХОДА--------

/* */

h3.sro-title{
	color: #4E9A4E;
}

.wrapper{
	text-align: right;
}

/*страница Каталог (таблица)*/
table.catalog{
	table-layout: auto;
	text-align:center;
}
table.catalog th{
	background-color:#333333;
	color:white;
	text-align:center;

}
#content tr th{
     vertical-align: middle; 
     text-align: center; 
     border: .2em solid #FFFFFF;
     padding: 9px 10px;
}
#content tr td{
     vertical-align: middle; 
     text-align: center; 
     padding: 0 10px;
}
#content tr.d2{
     background-color: #CCCCCC;

}

p.text-justify{    
	text-align: justify;
}

table.catalog th.invert{
	background-color: white;
	color: #333333
}
/*страница Каталог (таблица)*/
