{% extends "common/__l_single_col.html" %}
{% load staticfiles %}
{% block content %}

<div class = 'container'>
<br>
	<div class="row">
		{% if user.is_authenticated %}
			{% if perms.company.add_genset %}
		<div class="col-sm-3"><a class='certificate-menu' href="{% url 'catalog:genset_create' %}" title="добавить дизельгенератор"><span class="glyphicon glyphicon-plus">добавить дизельгенератор</span></a>
		</div>
				{% if gensets|length %}
		<div class="col-sm-3"><a class='certificate-menu' href="{% url 'catalog:genset_list_corr' %}" title="редактировать таблицу"><span class="glyphicon glyphicon-remove"></span> <span class="glyphicon glyphicon-pencil">редактировать таблицу</span></a>
		</div>
				{% endif %}
			{% endif %}
		{% endif %}
	</div>
<br>	
	<table class='table catalog table-bordered '>
  <tbody>
   <tr>
    <th rowspan="2">МОДЕЛЬ<br>ДГУ</th>
    <th colspan="2">ESP(Stand-by)</th>
    <th colspan="2">PRP(Prime)</th>
    <th rowspan="2">GOV</th>
    <th rowspan="2 specification">СПЕЦИФИКАЦИЯ</th>
   </tr>
   <tr>
		<th>кВА</th>
		<th>кВ</th>
		<th>кВА</th>
		<th>кВ</th>
   </tr>
   {% if gensets %}
	   {% for genset in gensets %}
		<tr>
		<td>{{genset.model}}</td>
		<td>{{genset.stand_by_kva}}</td>
		<td>{{genset.stand_by_kw}}</td>
		<td>{{genset.prime_kva}}</td>
		<td>{{genset.prime_kw}}</td>
		<td>{{genset.engine_model}}</td>
		<td><a href="{{genset.spec.url}}"><img src="{% static 'images/get_pdf.jpg' %} " alt='получить спецификацию'></a></td>
		</tr>
	   {% endfor %}
   {% endif %}
   </tbody>
   </table>

</div>
{% endblock %}